In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""
Database is a collection of interrelated data about a particular organisation.

SQL stand for Structured Query Language. It is a language designed to extract, store, insert, delete, update and manage data
for structured data and strategic analysis. 
Example : MySQL,Oracle etc

NoSQL database provides a mechanism for storage and retrieval of data that is modelled other than tabular form.
Example : MongoDB,Redis etc

"""

'\nDatabase is a collection of interrelated data about a particular organisation.\n\nSQL stand for Structured Query Language. It is a language designed to extract, store, insert, delete, update and manage data\nfor structured data and strategic analysis. \nExample : MySQL,Oracle etc\n\nNoSQL database provides a mechanism for storage and retrieval of data that is modelled other than tabular form.\nExample : MongoDB,Redis etc\n\n'

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

"""
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.These commands are used to create or modify the tables in SQL.

CREATE :- This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
          For Example:
                      CREATE TABLE Student_info(College_Id number(2),College_name varchar(30),Branch varchar(10));
                        
DROP :- is used to remove an existing table along with its structure from the Database.
        For Example : 
                     DROP TABLE Student_info ;
ALTER :- is used to modify the column of existing table.
         For Example :
                     ALTER TABLE Student_info ADD CGPA number;
                     
TRUNCATE :- is used to remove all rows from the table, but the structure of the table still exists.
            For Example :
                        TRUNCATE TABLE Student_info;

"""

'\nData Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).\nDDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.These commands are used to create or modify the tables in SQL.\n\nCREATE :- This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.\n          For Example:\n                      CREATE TABLE Student_info(College_Id number(2),College_name varchar(30),Branch varchar(10));\n                        \nDROP :- is used to remove an existing table along with its structure from the Database.\n        For Example : \n                     DROP TABLE Student_info ;\nALTER :- is used to modify the column of existing table.\n         For Example :\n                     ALTER TABLE Student_info ADD CGPA number;\n                     \nTRUNCATE :- is used to remove all rows from the table, but the structure of the table still exists.\n            For Example :\n                        TRUNCATE TABLE Student_info;\n\n'

In [2]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

"""
DML stands for Data Manipulation Language . It deals with the manipulation of data present in the database.

INSERT :- is used to insert new row in the table.
          For Example:
                      Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
UPDATE :-  is used to update existing data within a table.
          For Example :
                      UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;
DELETE :- is used to delete records from a database table.
          For Example :
                      DELETE from Employee WHERE Emp_id=002;
            
"""

'\nDML stands for Data Manipulation Language . It deals with the manipulation of data present in the database.\n\nINSERT :- is used to insert new row in the table.\n          For Example:\n                      Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);\nUPDATE :-  is used to update existing data within a table.\n          For Example :\n                      UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;\nDELETE :- is used to delete records from a database table.\n          For Example :\n                      DELETE from Employee WHERE Emp_id=002;\n            \n'

In [1]:
#Q4. What is DQL? Explain SELECT with an example.

"""
The SQL SELECT statement is used to fetch the data from a database table which returns this data in the form of a result table.

For Example :-
                SELECT * FROM Employee;

"""

'\nThe SQL SELECT statement is used to fetch the data from a database table which returns this data in the form of a result table.\n\nFor Example :-\n                SELECT * FROM Employee;\n\n'

In [2]:
#Q5. Explain Primary Key and Foreign Key

"""
Primary Key : It is used to uniquely identify each row in database table . 
Foreign key : It is used to join two tables in a database. Primary key for one table act as a foregin key for other table.

"""

'\nPrimary Key : It is used to uniquely identify each row in database table . \nForeign key : It is used to join two tables in a database. Primary key for one table act as a foregin key for other table.\n\n'

In [3]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method. 

"""
import mysql.connector as sql
mydb=sql.connect
(  
host="localhost",
user="abc",
password="password"
)

cursor() :-  is used to execute statements to communicate with the MySQL database.

excute() :- This method accepts a MySQL query as a parameter and executes the given query.

"""

'\nimport mysql.connector as sql\nmydb=sql.connect\n(  \nhost="localhost",\nuser="abc",\npassword="password"\n)\n\ncursor() :-  is used to execute statements to communicate with the MySQL database.\n\nexcute() :- This method accepts a MySQL query as a parameter and executes the given query.\n\n'

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query. 
"""

Order in which SQL clauses being executed are:-
 1. FROM/JOIN
 2. WHERE
 3. GROUP BY
 4. HAVING
 5. SELECT
 6. ORDER BY
 7. LIMIT/OFFSET