In [3]:
#Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use  MongoDB over SQL databases? 

"""
MongoDB is an open source NoSQL database management program.MongoDB is used for high-volume data storage, helping organizations store 
large amounts of data while still performing rapidly.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 
Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

A SQL database processes SQL queries, whereas MongoDB offers JSON querying. MongoDB is a more dynamic and complicated choice that is appropriate for hierarchical data 
because of its fundamental properties, as opposed to a SQL Database, which is still more predetermined and appropriate for other types of data storage

"""

'\nMongoDB is an open source NoSQL database management program.MongoDB is used for high-volume data storage, helping organizations store \nlarge amounts of data while still performing rapidly.\n\nA non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. \nInstead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.\n\nA SQL database processes SQL queries, whereas MongoDB offers JSON querying. MongoDB is a more dynamic and complicated choice that is appropriate for hierarchical data \nbecause of its fundamental properties, as opposed to a SQL Database, which is still more predetermined and appropriate for other types of data storage\n\n'

In [1]:
#Q2. State and Explain the features of MongoDB.

"""

The features of MongoDB are :-

Schema-less Database: It is the great feature provided by the MongoDB.A Schema-less database means one collection can hold 
                      different types of documents in it. Due to this cool feature, MongoDB provides great flexibility to databases.

Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored 
                    in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. 
                    And each document contains its unique object id.
                    
Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers,
             here a large amount of data is partitioned into data chunks using the shard key,and these data chunks are evenly distributed
             across shards that reside across many physical servers.

High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like 
                  scalability, indexing, replication, etc.
                  
"""

'\n\nThe features of MongoDB are :-\n\nSchema-less Database: It is the great feature provided by the MongoDB.A Schema-less database means one collection can hold \n                      different types of documents in it. Due to this cool feature, MongoDB provides great flexibility to databases.\n\nDocument Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored \n                    in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. \n                    And each document contains its unique object id.\n                    \nScalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers,\n             here a large amount of data is partitioned into data chunks using the shard key,and these data chunks are evenly distributed\n             across shards that reside across many physical servers.\n\nHigh Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like \n                  scalability, indexing, replication, etc.\n                  \n'

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 42.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Write a code to connect MongoDB to Python.Also create a Database and a collection in MongoDB 

import pymongo
client = pymongo.MongoClient("mongodb+srv://HarshG:HarshG@cluster0.8wj2gv7.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['ac-tnxcpkn-shard-00-00.8wj2gv7.mongodb.net:27017', 'ac-tnxcpkn-shard-00-02.8wj2gv7.mongodb.net:27017', 'ac-tnxcpkn-shard-00-01.8wj2gv7.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-132uxs-shard-0', tls=True), 'test')

In [6]:
client = pymongo.MongoClient("mongodb+srv://HarshG:HarshG@cluster0.8wj2gv7.mongodb.net/?retryWrites=true&w=majority")

In [7]:
db=client['stud_details']

In [8]:
#Using the database and the collection created in ques 3 , write a code to insert one record,
#and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
data = {"name":"Harsh",
        "Age":20,
        "course":"DataScience"}

In [10]:
coll_studdetails = db["stu_details"]

In [40]:
coll_parentdetails = db["parent_detail"]

In [11]:
coll_studdetails.insert_one(data)

In [42]:
coll_parentdetails.insert_one(data)

In [12]:
data1 = {"name":"rahul",
        "pwID":20123,
        "course":"DataScience"}

In [13]:
coll_studdetails.insert_one(data1)

In [14]:
data3 = [{'Group 1': ['Chester', 'Sue', 'Peter', 'Andrew', 'Charles']},
 {'Group 2': ['Tom', 'Darwing', 'Karren', 'Justin', 'Astha']},
 {'Group 3': ['Kitty', 'Jessie', 'Curie', 'Nancy', 'Nikhil']}]

In [15]:
coll_studdetails.insert_many(data3)

In [16]:
coll_studdetails.find_one()

{'_id': ObjectId('64368c15c62acf5ac973b7dc'),
 'name': 'Harsh',
 'Age': 20,
 'course': 'DataScience'}

In [29]:
for i in coll_studdetails.find():
    print(i)

{'_id': ObjectId('6436e01115ded59b8d58b3d3'), 'Group 2': ['Tom', 'Darwing', 'Karren', 'Justin', 'Astha']}
{'_id': ObjectId('6436e01115ded59b8d58b3d4'), 'Group 3': ['Kitty', 'Jessie', 'Curie', 'Nancy', 'Nikhil']}
{'_id': ObjectId('6436e6da15ded59b8d58b3d6'), 'name': 'vikas', 'pwID': 20175, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3db'), 'name': 'raman', 'pwID': 20196, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3dc'), 'name': 'rohan', 'pwID': 20128, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a35a2c5afc3e5706cb'), 'name': 'Harsh', 'Age': 20, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a45a2c5afc3e5706cc'), 'name': 'rahul', 'pwID': 20123, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a75a2c5afc3e5706d0'), 'name': 'abhishek', 'pwID': 20154, 'course': 'DataScience'}

In [18]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to  demonstrate this.

coll_studdetails.find_one({'Age':20})

{'_id': ObjectId('64368c15c62acf5ac973b7dc'),
 'name': 'Harsh',
 'Age': 20,
 'course': 'DataScience'}

In [19]:
data4=[{"name":"abhishek",
        "pwID":20154,
        "course":"DataScience"},
       {"name":"vikas",
        "pwID":20175,
        "course":"DataScience"},
       {"name":"raman",
        "pwID":20196,
        "course":"DataScience"},
       {"name":"rohan",
        "pwID":20128,
        "course":"DataScience"}
]

In [20]:
coll_studdetails.insert_many(data4)

In [27]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

"""
The sort() method specifies the order in which the query returns the matching documents from the given collection. 

"""
sorted_docs = list(coll_studdetails.find().sort("name", 1))
for i in sorted_docs:
    print(i)

{'_id': ObjectId('6436e01115ded59b8d58b3d3'), 'Group 2': ['Tom', 'Darwing', 'Karren', 'Justin', 'Astha']}
{'_id': ObjectId('6436e01115ded59b8d58b3d4'), 'Group 3': ['Kitty', 'Jessie', 'Curie', 'Nancy', 'Nikhil']}
{'_id': ObjectId('6437a2a35a2c5afc3e5706cb'), 'name': 'Harsh', 'Age': 20, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a75a2c5afc3e5706d0'), 'name': 'abhishek', 'pwID': 20154, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a45a2c5afc3e5706cc'), 'name': 'rahul', 'pwID': 20123, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3db'), 'name': 'raman', 'pwID': 20196, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3dc'), 'name': 'rohan', 'pwID': 20128, 'course': 'DataScience'}
{'_id': ObjectId('6436e6da15ded59b8d58b3d6'), 'name': 'vikas', 'pwID': 20175, 'course': 'DataScience'}

In [28]:
# Q7 Explain why delete_one(),delete_many(),and drop() is used.
"""
delete_one() - is used when we want to delete one document from database.
delete_many() - is used when we want to delete more than one document from database.
drop() - is used to drop the collection from the database.

In [53]:
data5={"name":"abhishek",
        "pwID":20154,
        "course":"DataScience"}

In [44]:
# using delete_one()
coll_studdetails.delete_one({'Age':20})

In [54]:
coll_studdetails.insert_one(data5)

In [55]:
# details of 'harsh' removed from the collection
stud=coll_studdetails.find()
for i in stud:
    print(i)

{'_id': ObjectId('6436e01115ded59b8d58b3d3'), 'Group 2': ['Tom', 'Darwing', 'Karren', 'Justin', 'Astha']}
{'_id': ObjectId('6436e01115ded59b8d58b3d4'), 'Group 3': ['Kitty', 'Jessie', 'Curie', 'Nancy', 'Nikhil']}
{'_id': ObjectId('6436e6da15ded59b8d58b3d6'), 'name': 'vikas', 'pwID': 20175, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3dc'), 'name': 'rohan', 'pwID': 20128, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3db'), 'name': 'raman', 'pwID': 20196, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a45a2c5afc3e5706cc'), 'name': 'rahul', 'pwID': 20123, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a75a2c5afc3e5706d0'), 'name': 'abhishek', 'pwID': 20154, 'course': 'DataScience'}
{'_id': ObjectId('6437c8175a2c5afc3e5706d4'), 'name': 'abhishek', 'pwID': 20154, 'course': 'DataScience'}

In [56]:
# using delete_many()
coll_studdetails.delete_many({'name':"abhishek"})

In [57]:
# details of 'abhishek' removed from the collection
stud=coll_studdetails.find()
for i in stud:
    print(i)

{'_id': ObjectId('6436e01115ded59b8d58b3d3'), 'Group 2': ['Tom', 'Darwing', 'Karren', 'Justin', 'Astha']}
{'_id': ObjectId('6436e01115ded59b8d58b3d4'), 'Group 3': ['Kitty', 'Jessie', 'Curie', 'Nancy', 'Nikhil']}
{'_id': ObjectId('6436e6da15ded59b8d58b3d6'), 'name': 'vikas', 'pwID': 20175, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3dc'), 'name': 'rohan', 'pwID': 20128, 'course': 'DataScience'}
{'_id': ObjectId('6436e7f215ded59b8d58b3db'), 'name': 'raman', 'pwID': 20196, 'course': 'DataScience'}
{'_id': ObjectId('6437a2a45a2c5afc3e5706cc'), 'name': 'rahul', 'pwID': 20123, 'course': 'DataScience'}

In [58]:
for coll in db.list_collection_names():
    print(coll)

parent_detail
stu_details

In [66]:
# using drop()
db.parent_detail.drop()

In [67]:
# collecti
for coll in db.list_collection_names():
    print(coll)

stu_details