In [1]:
pip install panda

Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from panda) (65.5.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from panda) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (2.1.1)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7239 sha256=9bd828b3bbb6e042c532ff84d64e4c37e176e10d1445b6977d9f594cb0b4c989
  Stored in directory: /home/jovyan/.cache/pip/wheels/d1/81/6d/0bcd1ae53614a2da2cda0de1dced1fb83050422c7cf5213c32
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
#Ques: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Ques: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it. 
data = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#Q3. Create a Pandas DataFrame that contains the following data:
data={'Name':['Alice','Bob','Claire'],
      'Age': [25,30,27],
      'Gender':['Female','Male','Female']
}
Set=pd.DataFrame(data)
print(Set)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Q4. What is ‘DataFrame’in pandas and how is it different from pandas.series? Explain with an example.
"""
A Pandas DataFrame is a two-dimensional labeled data structure in Pandas, similar to a table or a spreadsheet.
It consists of rows and columns, where each column can contain different data types.

On the other hand, a Pandas data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)Series is a one-dimensional labeled array that can hold any data type.
"""
#Example of dataframe
data={'Name':['Alice','Bob','Claire'],
      'Age': [25,30,27],
      'Gender':['Female','Male','Female']
}
Set=pd.DataFrame(data)
print(Set)

#Example of data.series
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
"""
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
Can  you give an example of when you might use one of these functions?
"""

"""
Some functions of DataFrame are :
'head()'or'tail()': head() is used to view the first few rows and tail() is used to view the last rows of dataframe.

info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage.

shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

groupby(): This function is used for grouping and aggregating data based on one or more columns

drop(): This function is used to remove rows or columns from the DataFrame.
"""
data={'Name':['Alice','Bob','Claire','Moris','Jack','Lucifer'],
      'Age': [25,30,27,22,34,29],
      'Gender':['Female','Male','Female','Male','Male','Male']
}
Set=pd.DataFrame(data)
Set.drop(0) #delete the record of Alice

      Name  Age  Gender
1      Bob   30    Male
2   Claire   27  Female
3    Moris   22    Male
4     Jack   34    Male
5  Lucifer   29    Male

In [9]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

"""
Series and DataFrame in Pandas are mutable in nature, meaning they can be modified after creation.
On the other hand, Panel objects are not mutable.
"""

'\nSeries and DataFrame in Pandas are mutable in nature, meaning they can be modified after creation.\nOn the other hand, Panel objects are not mutable.\n'

In [11]:
#Q7. Create a DataFrame using multiple Series. Explain with an example
name = pd.Series(['Rahul', 'Rishab', 'Rohit'])
age = pd.Series([25, 28, 32])
city = pd.Series(['Lucknow', 'Chennai', 'Jaipur'])
df = pd.DataFrame({'Name': name, 'Age': age, 'City': city})
print(df)

     Name  Age     City
0   Rahul   25  Lucknow
1  Rishab   28  Chennai
2   Rohit   32   Jaipur